.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 120px);
    border: 8px solid #c89329;
}

.box {
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: serif;
}

.box-1 { background-color: #12b886; }
.box-2 { background-color: #319795; }
.box-3 { background-color: #8e44ad; }
.box-4 { background-color: #34495e; }
.box-5 { background-color: #f1c40f; }
.box-6 { background-color: #e67e22; }
.box-7 { background-color: #e74c3c; }
.box-8 { background-color: #bdc3c7; }
.box-9 { background-color: #2ecc71; }
.box-10 { background-color: #16a085; }